.dropdown-filter{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    &__input{
        font-size:  0.75rem;
    }
}

@media screen and (min-width: 768px) {
    .dropdown-filter__input{
        font-size: 1.5rem;
    };
}

@media screen and (min-width: 1024px) {
    .dropdown-filter__input{
        font-size: 1.9rem;
    };
}