.counter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    font-size: 0.7rem;
    &__button{
        width: 1.3rem;
        &:hover{
            cursor: pointer;
            flex-grow: 0.03;
            transition: 0.2s;
        }
    }
}

@media screen and (min-width: 768px){
    .counter{
        font-size: 1.2rem;
    }
}