.counter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    font-size: 0.7rem;
    &__button{
        width: 1.3rem;
        // box-shadow: 0 0.625rem 1.25rem rgba(black, 0.25);
        &:hover{
            cursor: pointer;
        }
    }
}