.card{
    border: 2px solid black;
    border-radius: 4px;
    width: 70%;
    height: 9rem;
    &__info{
        margin-left: 8px;
        padding: 5px 0;
    }
}

@media screen and (min-width: 768px){
    .card{
        width: 40%;
        font-size: 1.5rem;
        height: 13rem;
    }
}

@media screen and (min-width: 1024px){
    .card{
        width: 40%;
        font-size: 1.7rem;
        height: 13rem;
    }
}