* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    margin: 20px;
    &__title{
        text-align: center;
        margin-bottom: 20px;
    }
    &__counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
}


@media screen and (min-width: 768px){
    .app{
        margin: 30px;
        &__title{
            font-size: 5rem;
        }
       &__counter-container{
        flex-wrap: wrap;
        flex-direction: row;
        
       }
    }
}

@media screen and (min-width: 1024px){
    .app{
        margin: 50px;
        &__title{
            font-size: 6rem;
        }
       &__counter-container{
        flex-wrap: wrap;
        flex-direction: row;
        
       }
    }
}