* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f3f7f0;
}
.app{
    margin: 20px;
    &__title{
        text-align: center;
        margin-bottom: 20px;
    }
    &__search-team-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    gap: 30px;
}
}


@media screen and (min-width: 768px){
    .app{
        margin: 30px;
        &__title{
            font-size: 5rem;
        }
       &__counter-container{
        flex-wrap: wrap;
        flex-direction: row;
        
       }
    }
}

@media screen and (min-width: 1024px){
    .app{
        margin: 50px;
        &__title{
            font-size: 6rem;
            margin-bottom: 50px;
        }
       &__search-team-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
       }
    }
}